<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XlsxReadWrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XlsxReadWrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  
  <userSettings>
    <XlsxReadWrite.Properties.Settings>

      <setting name="InputFileName" serializeAs="String">
        <value>..\..\Input\In.xlsx</value>
      </setting>
      <setting name="OutputFileName" serializeAs="String">
        <value>..\..\Output\Out.xlsx</value>
      </setting>
    </XlsxReadWrite.Properties.Settings>
  </userSettings>

  <applicationSettings>
    <XlsxReadWrite.Properties.Settings>
      <setting name="DataTableName" serializeAs="String">
        <value>XlsxReadWriteTable</value>
      </setting>
      <setting name="DataTableNamespace" serializeAs="String">
        <value>XlsxReadWrite</value>
      </setting>
      <setting name="DataTableXmlSchemaFileName" serializeAs="String">
        <value>..\..\XlsxReadWriteTable.xsd</value>
      </setting>
      <setting name="TemporaryDirectory" serializeAs="String">
        <value>..\..\TEMP</value>
      </setting>
      <setting name="TempateFilePath" serializeAs="String">
        <value>..\..\Template.xlsx</value>
      </setting>
    </XlsxReadWrite.Properties.Settings>
  </applicationSettings>
  
  <connectionStrings>
    <add name="QuanLyKhoDemoEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=QuanLyKhoDemo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>